
<div class="myNavbar">
    <h2 class="mb-4">Principal</h2>
    <ul>
        <li><a href="{{ path('app_admin_account') }}">Liste des utilisateurs</a></li>
        <li><a href="{{ path('app_admin_account') }}">Liste des jeux</a></li>
        <li><a href="{{ path('app_genre_admin') }}">Liste des catégories</a></li>
        <li><a href="{{ path('app_publisher_admin') }}">Liste des éditeurs</a></li>
        <li><a href="{{ path('app_country_admin') }}">Liste des pays</a></li>
        <li><a href="{{ path('app_home') }}">Déconnexion</a></li>
    </ul>
</div>
