
<div class="myNavbar">
    <h2 class="mb-4">Principal</h2>
    <ul>
        <li><a href="{{ path('app_admin_account') }}">Liste des utilisateurs</a></li>
        <li><a href="{{ path('app_admin_account') }}">Liste des jeux</a></li>
        <li><a href="{{ path('app_admin_account') }}">Liste des genre</a></li>
        <li><a href="{{ path('app_admin_account') }}">Liste des éditeurs</a></li>
        <li><a href="{{ path('app_admin_account') }}">Liste des pays</a></li>
    </ul>
</div>
