
<div class="myCommentCard mb-5 d-flex flex-column justify-content-between">
        <div class="d-flex flex-column">
                {% if username is defined %}
               <a href="{{ path('app_detail_account', {'slug': comment.account.slug}) }}">{{ username }}</a>
                {% else %}
                <a href="{{ path('app_detail', {'slug': comment.game.slug}) }}">{{ comment.game.name }}</a>
                {% endif %}
            <div class="note ms-2">
                {{ comment.rank|star|raw }}
            </div>
            {% if gamename is defined %}
                <p>{{ gamename }}</p>
                <p class="contentComment">{{ comment.content|excerpt }}</p>
            {% else %}
                    <p class="contentComment">{{ comment.content }}</p>
            {% endif %}
        </div>

        <p>écrit le {{ comment.createdAt|date("d/m/Y") }}</p>
</div>