<div class="desc d-flex flex-wrap justify-content-between">
    <div class="leftDesc">
        <h2 class="mb-5">A propos du jeu</h2>
        <p>{{ game[0].description|length > 400 ? game[0].description|slice(0, 400) ~ '...' : game[0].description }}</p>
        <a href="#description">Voir plus</a>
    </div>

    <div class="rightDesc">
        <div class="note d-flex align-items-center">
            <p class="pill me-3"
            {% if comments|length != 0 %}
                {% if commentData[0]['avgRating'] < 2 %}
                    style="color: #be0404; border: 3px solid #be0404;"
                {% elseif commentData[0]['avgRating'] < 3.5  %}
                    style="color: #f8b722; border: 3px solid #f8b722;"
                {% else %}
                    style="color: #246202; border: 3px solid #246202;"
                {% endif %}>
                    {{ commentData[0]['avgRating'] }}
            </p>
            <p class="nbComment">Basé sur
                </br>
                <span>{{ commentData[0].nbComment }} commentaires</span>
            </p>
            {% else %}
                Il n'y a pas encore de commentaire</p>
            {% endif %}
        </div>
        <div class="tableDesc">
            <table>
                <tr>
                    <th>Date de sortie :</th>
                    <td>{{ game[0].publishedAt|date('d/m/Y') }}</td>
                </tr>
                <tr>
                    <th>Editeur :</th>
                    <td>{% if game[0].publisher is not null %} {{ game[0].publisher.name}} {% else %} inconnu {% endif %}</td>
                </tr>
                <tr>
                    <th>Genre :</th>
                    <td>
                        {% for genre in game[0].genres %}
                            {{ genre.name }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>