{% form_theme form 'bootstrap_5_layout.html.twig' %}

<div class="idAccount d-flex align-items-center mb-5">
    <img src="
    {% if account.pathImage is not null %}
        {{ account.pathImage }}
    {% else %}
        {{ asset('build/images/profil.png') }}
    {% endif %}
" alt="photo de profile" class="pe-4">
    <div class="information d-flex flex-column justify-content-between">
        <h1>
            {% if account.nickname is not null %}
                {{ account.nickname|title }}
            {% else %}
                {{ account.name }}
            {% endif %}
        </h1>
        <div>
            {% if account.country is not null %}
                <img src="{{ account.country.urlFlag }}" alt="drapeau {{ account.country.slug }}">  {{ account.country.name }}
            {% endif %}

        </div>
        <ul>
            <li>Nom : <span>{{ account.name }}</span></li>
            <li>Email : <span>{{ account.email }}</span></li>
            <li>Inscrit depuis le <span>{{ account.createdAt|date('d/m/Y') }}</span></li>
            <li>Fond disponible : <span>{{ account.wallet }}€</span></li>
        </ul>
    </div>
    <button class="mybtn toggleBtn align-self-start ms-auto">Modifier</button>

    <div class="accountModification">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-6">
                {{ form_row(form.nickname) }}
            </div>
            <div class="col-6">
                {{ form_row(form.country) }}
            </div>
        </div>
            {{ form_row(form.pathImage) }}
        {{ form_end(form) }}
    </div>
</div>
